<main class="page-content hero-section" aria-label="Content">
    <div class="wrapper wrapper-flex">
        <div class="flex-half home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

            <h1 class="page-heading">El Futuro Comienza Aquí</h1>
            <h3>
              Ayúdanos a transformar la vida de niños vulnerables. Juntos, descubrimos su potencial y les damos las herramientas para cambiar el mundo.
            </h3>
            <a href="#cta" class="button primary short full-on-mobile cta-button">Siembra Hoy!</a>
        </div>

        <div class="flex-half home-image image-shadow">
          <img src="./assets/undraw_Campfire_re_9chj.png" alt="">
        </div>
    </div>
</main>