<section class="wrapper wrapper-flex mission">
    <div class="flex-half image-shadow">
      <img src="./assets/undraw_Fans_re_cri3.png" alt="">
      </div>
      <div class="flex-half home">
        <h2>Nuestra Misión</h2>
        <h3>
            En Semillero Internacional de Talentos, transformamos la vida de niños en situación de vulnerabilidad, ofreciéndoles un entorno seguro para descubrir y desarrollar sus talentos. A través de programas educativos, artísticos y recreativos, les brindamos las herramientas para construir un futuro lleno de oportunidades.
        </h3>
      </div>
  </section>