<section class="wrapper contact">
    <h2 class="text-center-align">Contáctanos</h2>
    <p class="text-center-align">Estamos aquí para colaborar contigo en la transformación de vidas.<br>Contáctanos para descubrir cómo podemos trabajar juntos.</p>
      <div class="wrapper-flex flex-align-start">
        <div class="flex-half contact__content">
          <img src="./assets/connect-icon.svg">
          <div class="contacte__text">
            <h3>Síguenos o contáctanos directamente:</h3>
            <ul class="contact-list">
              <li><i class=" fab fa-facebook "></i> &nbsp; <a class="primary" href="https://facebook.com/100090322849458" target="_blank">Facebook</a></li>
              <li><i class=" fab fa-instagram "></i> &nbsp; <a class="primary" href="https://instagram.com/sitalentos14" target="_blank">Instagram</a></li>
              <li><i class=" fa fa-phone "></i> &nbsp; <a class="primary" href="tel:+573143731720">+57 314 373 1720</a></li>
              <li><i class=" fa fa-envelope "></i> &nbsp; <a class="primary" href="mailto:sitalentos2022@gmail.com">sitalentos2022@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="flex-half contact__content">
          <img src="./assets/connect-icon.svg">
          <div class="contacte__text">
            <h3>Déjanos tu información de contacto.</h3>
            <br>
            <div class="centered-form-button" data-tf-live="01J5MYKDH2PPYXDYW9W3BB9J9E"></div><script src="//embed.typeform.com/next/embed.js"></script>
          </div>
        </div>
      </div>
  </section>