<section class="people">
	<div class="wrapper">
    <div class="wrapper-flex">

      <div class="flex-half home">
        <h2>Stephania Forero</h2>
          <p class="people-list--title">Fundadora y Directora General</p>
        <h3>
          Con más de 14 años de experiencia en el ámbito social, artístico y educativo, Stephania Forero ha dedicado su vida a transformar la infancia vulnerable en Colombia. Su pasión por la música, el teatro y el arte la llevó a fundar Semillero Internacional de Talentos, un espacio donde los niños pueden descubrir y desarrollar su verdadero potencial. Stephania trabaja incansablemente para ofrecer a cada niño la oportunidad de alcanzar sus sueños.
        </h3>
      </div>
    
      <div class="flex-half image-shadow">
        <img src="./assets/people-img1.jpg" alt="">
      </div>
    </div>

	</div>
</section>