<section class="wrapper wrapper-flex">
    <div class="flex-half image-shadow">
      <img src="./assets/undraw_Fans_re_cri3.png" alt="">
      </div>
      <div class="flex-half home">
        <h2>Nuestra Historia</h2>
        <h3>
          Fundada en 2022 por Stephania Forero y Ricardo Guevara, la Fundación Semillero Internacional de Talentos ha crecido gracias al apoyo de una comunidad de patrocinadores, donantes y voluntarios. Juntos, estamos creando un legado de esperanza, dando a los niños más vulnerables la oportunidad de transformar sus vidas a través del arte y la educación.
        </h3>
      </div>
  </section>