  <section class="wrapper wrapper-flex impact">
    <div class="flex-half home">
      <h2>Nuestro Impacto</h2>
      <h3>
        Desde 2022, hemos cambiado la vida de más de 500 niños en Colombia, ayudándolos a romper el ciclo de pobreza y conflicto. Cada niño ha encontrado esperanza y nuevas oportunidades a través de nuestro apoyo.
      </h3>
    </div>
  
      <div class="flex-half image-shadow">
        <img src="./assets/undraw_Designer_life_re_6ywf.png" alt="">
      </div>
  </section>