<section class="people">
	<div class="wrapper">

		<div class="people-title">
	    	<h2 class="text-center-align">Fundadores</h2>
	    	<p class="text-center-align"><b>Stephania Forero</b> y <b>Ricardo Guevara</b> son los líderes detrás de Semillero Internacional de Talentos. Juntos, han construido un espacio donde el arte y la educación transforman la vida de niños vulnerables, dándoles las herramientas necesarias para un futuro lleno de posibilidades.</p>
  		</div>

  		<div class="wrapper-flex people-lists">
			<img class="people-list--img" src="./assets/people-img1.jpg">
  			<div class="people-list">
  				<h4>Stephania Forero</h4>
  				<p class="people-list--title">Co-Fundadora y Directora General</p>
  				<p class="people-list--description">Con más de 14 años de experiencia en el ámbito social, artístico y educativo, Stephania Forero ha dedicado su vida a transformar la infancia vulnerable en Colombia. Su pasión por la música, el teatro y el arte la llevó a fundar Semillero Internacional de Talentos, un espacio donde los niños pueden descubrir y desarrollar su verdadero potencial. Stephania trabaja incansablemente para ofrecer a cada niño la oportunidad de alcanzar sus sueños.</p>
  			</div>

  			<!-- <div class="people-list">
  				<img class="people-list--img" src="./assets/people-img2.jpg">
  				<h4>Ricardo Guevara</h4>
  				<p class="people-list--title">Co-Fundador</p>
  				<p class="people-list--description">Líder en educación musical con una visión clara: usar el arte para cambiar vidas. En la fundación, dirige programas que fortalecen la creatividad y la confianza en los niños.</p>
  			</div> -->

  		</div>

	</div>
</section>