<section class="people">
	<div class="wrapper">

		<div class="people-title">
	    	<h2 class="text-center-align">Talentos</h2>
	    	<p class="text-center-align">Creemos que cada niño tiene un don único. Nuestras áreas de talento incluyen deportes, gastronomía, música, teatro, robótica, y más. Cada programa está diseñado para descubrir y potenciar las habilidades de los niños, preparándolos para un futuro prometedor.</p>
  		</div>

  		<div class="wrapper-flex people-lists">
  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img1.jpg">
  				<h4>Deportes</h4>
  				<p class="people-list--description">Fomentamos la disciplina, el trabajo en equipo y el desarrollo físico, preparando a los niños para enfrentar los desafíos de la vida con resiliencia y determinación.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img2.jpg">
  				<h4>Emprendimiento</h4>
  				<p class="people-list--description">Equipamos a los niños con habilidades empresariales, capacitándolos para convertirse en líderes y emprendedores capaces de transformar sus comunidades y crear un impacto duradero.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img3.jpg">
  				<h4>Gastronomía</h4>
  				<p class="people-list--description">Enseñamos habilidades culinarias que nutren el cuerpo y el alma, mientras abrimos puertas a oportunidades de emprendimiento y autosuficiencia.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img4.jpg">
  				<h4>Lectura y Poesía</h4>
  				<p class="people-list--description">Inspiramos a los niños a explorar el poder de las palabras, permitiéndoles expresar sus pensamientos y emociones de manera creativa y profunda.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img2.jpg">
  				<h4>Música y Teatro</h4>
  				<p class="people-list--description">A través de la música y el teatro, los niños desarrollan confianza, habilidades sociales y una profunda apreciación por las artes, abriendo un mundo de posibilidades.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img3.jpg">
  				<h4>Dibujo y Pintura</h4>
  				<p class="people-list--description">Fomentamos la creatividad y la autoexpresión a través de las artes visuales, ayudando a los niños a descubrir nuevas perspectivas y a plasmar su visión del mundo.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img4.jpg">
  				<h4>Robótica</h4>
  				<p class="people-list--description">Preparamos a los niños para el futuro tecnológico mediante actividades prácticas que introducen conceptos de programación y resolución de problemas, potenciando su ingenio.</p>
  			</div>
  		</div>

	</div>
</section>