<section id="cta" class="price">
  <div class="price-title">
    <h2 class="text-center-align">Sé Parte del Cambio</h2>
    <p class="text-center-align">Cada niño merece la oportunidad de soñar y construir un futuro mejor. En Semillero Internacional de Talentos, creemos que juntos podemos hacer realidad ese sueño. Ya sea a través de tu apoyo como asociado, donante, o voluntario, tu contribución es esencial para transformar vidas y sembrar las semillas de un cambio duradero. Únete a nosotros y sé parte de algo extraordinario.</p>
  </div>

  <div class="wrapper wrapper-flex">
    <div class="flex-3-col price-card">
      <h3>Socios</h3>
      <!-- <img class="people-list--img" src="./assets/people-img1.jpg"> -->
      <h1>$39 <span>/ month</span></h1>
      <p class="text-center-align">Alíate con nosotros y fortalece tu responsabilidad social mientras cambias vidas. Haz que tu marca marque la diferencia.</p>
      <button class="button primary long position-center-align">Contáctanos</button>
    </div>

    <div class="flex-3-col price-card">
      <h3>Donantes</h3>
      <h1>$39 <span>/ month</span></h1>
      <p class="text-center-align">Tus donaciones abren puertas a un futuro mejor para los niños. Ayúdanos a transformar vidas hoy mismo.</p>
      <button class="button primary long position-center-align">Dona Ahora</button>
    </div>

    <div class="flex-3-col price-card">
      <h3>Voluntarios</h3>
      <h1>$39 <span>/ month</span></h1>
      <p class="text-center-align">Dona tu tiempo y cambia vidas. Únete a nosotros y ayuda a los niños a descubrir su verdadero potencial.</p>
      <button class="button primary long position-center-align">Inscríbete</button>
    </div>
  </div>
</section>
