---
layout: default
---

{%- include home-hero.html -%}
{%- include home-mission.html -%}
{%- include home-impact.html -%}
{%- include home-history.html -%}
{%- include home-founders.html -%}


<!-- <section class="wrapper text-center-align">
    <h2>Talentos</h2>
    <p>
      Creemos que cada niño tiene un don único. Nuestras áreas de talento incluyen deportes, gastronomía, música, teatro, robótica, y más. Cada programa está diseñado para descubrir y potenciar las habilidades de los niños, preparándolos para un futuro prometedor.
    </p>
</section>

<section class="wrapper wrapper-flex">
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_In_the_office_re_jtgc.png" alt="">
  </div>
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_Prototyping_process_re_7a6p.png" alt="">
  </div>
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_Interview_re_e5jn.png" alt="">
  </div>
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_In_the_office_re_jtgc.png" alt="">
  </div>
</section>
<section class="wrapper wrapper-flex">
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_Prototyping_process_re_7a6p.png" alt="">
  </div>
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_Interview_re_e5jn.png" alt="">
  </div>
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_Interview_re_e5jn.png" alt="">
  </div>
</section> -->

<section class="wrapper text-center-align">
    <h2>Panda is your best companion</h2>
    <p>
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
</section>

<section class="wrapper wrapper-flex">
  <div class="flex-3-col image-shadow">
    <img src="./assets/undraw_In_the_office_re_jtgc.png" alt="">
    </div>
    <div class="flex-3-col image-shadow">
      <img src="./assets/undraw_Prototyping_process_re_7a6p.png" alt="">
    </div>
    <div class="flex-3-col image-shadow">
      <img src="./assets/undraw_Interview_re_e5jn.png" alt="">
    </div>
</section>

{%- include home-contactanos.html -%}


<section class="wrapper why-choose-us">
  <h2 class="text-center-align">Play with a panda, every day.</h2>
  <p class="text-center-align">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="wrapper-flex flex-align-start">
      <div class="flex-half why-choose-us__content">
            <img src="./assets/flash-icon.svg">
            <div class="why-choose-use__text">
              <h3>Fastest Way to adopt a Panda.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              <a class="primary">Learn more</a>
            </div>
      </div>
      <div class="flex-half why-choose-us__content">
            <img src="./assets/flash-icon.svg">
            <div class="why-choose-use__text">
              <h3>Easiest Way to show off your new companion.</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
              <a class="primary">Learn more</a>
            </div>
      </div>
    </div>
</section>

{%- include price.html -%}

{%- include steps.html -%}
