header {
    .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
   
    }
    .site-title {
        display: flex;
        align-items: center; // Centra verticalmente el logo y el texto
        img {
            width: 60px;
            display: inline;
        }
          
        .site-logo-text {
            margin-left: 1rem;
            width: 15rem;
            line-height: 2rem;
        }
    }


    nav.site-nav {
        display: flex;
        width: 50%;
        justify-content: space-between;
        .trigger {
            text-align: center;
        }
        @include media-query($on-palm) {
            flex-direction: column;
            width: auto;
            border-radius: 10px;
            .trigger .page-link {
                margin-left: 0;
            }
        }
    }
}