main.page-content {
    background-color: $hero-color;
    color: #240046;
}

section.wrapper {
    margin-top: 40px;
}

section.why-choose-us {
    .why-choose-us__content {
        display: flex;
        margin-top: 40px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .contact-list {
        list-style: none;
        margin-left: auto;
    }

    .position-center-align {
        justify-self: center;
    }
    @include media-query($on-palm) {
        .wrapper-flex {
            flex-direction: column;
        }
        .why-choose-us__content {
            width: 100%;
        }
    }
}

.contact-background {
    background-color: $primary-background-color;
    padding-bottom: 3rem;
}
section.contact {

    .contact__content {
        display: flex;
        margin-top: 40px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    
    .wrapper-flex {
        justify-content: space-around;
    }

    .contact-list {
        list-style: none;
        margin-left: auto;
    }

    .centered-form-button {
        text-align: center;
        margin-right: 50px;
    }
    @include media-query($on-palm) {
        .wrapper-flex {
            flex-direction: column;
        }
        .contact__content {
            width: 100%;
        }
    }
}
.mission, .impact {
    color: $section1-text-color;
    .image-shadow img {
        box-shadow: 1px 1px 15px 0px $primary-background-color;
    }

    .mobile {
        display: none;
    }

    @include media-query($mobile) {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    }

}

.history, .people {
   background-color: $primary-background-color;
   width: 100%;

   .mobile {
    display: none;
}

    @include media-query($mobile) {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    
        &-list--title {
            text-align: center !important;
        }
    }

}

section.people .people-lists {
    align-items: center !important;
}

.hero-section {
    .cta-button {
        margin-top: 2rem;
    }

    .centered-button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .mobile {
        display: none;
    }

    @include media-query($mobile) {
        padding-top: 0;
        padding-bottom: 0;


        h3 {
            text-align: center;
        }

        .cta-button {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        .mobile {
            display: block;
            padding-top: 2rem;
        }
    
        .desktop {
            display: none;
        }

        .centered-button {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 1.5rem;
            padding-bottom: 0;
        }
    }
}

