main.page-content {
    background-color: $hero-color;
    color: #240046;
}

section.wrapper {
    margin-top: 40px;
}

section.why-choose-us {
    .why-choose-us__content {
        display: flex;
        margin-top: 40px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .contact-list {
        list-style: none;
        margin-left: auto;
    }

    .position-center-align {
        justify-self: center;
    }
    @include media-query($on-palm) {
        .wrapper-flex {
            flex-direction: column;
        }
        .why-choose-us__content {
            width: 100%;
        }
    }
}

section.contact {
    .contact__content {
        display: flex;
        margin-top: 40px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    
    .wrapper-flex {
        justify-content: space-around;
    }

    .contact-list {
        list-style: none;
        margin-left: auto;
    }

    .centered-form-button {
        text-align: center;
        margin-right: 50px;
    }
    @include media-query($on-palm) {
        .wrapper-flex {
            flex-direction: column;
        }
        .contact__content {
            width: 100%;
        }
    }
}
.mission, .impact {
    color: $section1-text-color;
    .image-shadow img {
        box-shadow: 1px 1px 15px 0px #EFE9FC;
    }
}

.history, .people {
   background-color: $primary-background-color;
   width: 100%;
}

section.people .people-lists {
    align-items: center !important;
}