section.people {
    .people-title {
        width: 65%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .people-lists {
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
    .people-list {
        width: 33%;
        display: flex;
        flex-flow: column;
        align-items: center;
        &--img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
            object-fit: cover;
            border: 1rem solid white;
        }

        h4 {
            margin-top: 15px;
            margin-bottom: 0;
        }
        &--title {
            font-size: $medium-font-size;
            text-align: left;
            margin-top: -13px;
        }
        &--description {
            text-align: left;
        }
    }
    @include media-query($tablet) {
        .people-list {
            width: 45%;
            text-align: center;
            margin-bottom: 20px;
            &--img {
                margin: auto;
                display: block;
            }
        }
    }
    @include media-query($on-palm) {
        flex-direction: column;
        .people-title,
        .people-list {
            width: 100%;
        }
    }
}